
* {
  margin: 0;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid powderblue;
}

.navbar h1 {
  color: powderblue;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  color: orchid;
}

.content {
  max-width: 675px;
  margin: 35px auto;
  padding: 15px;
}


.scrollview-data {
  /* background-color: rgb(202, 217, 245); */
  background-color: powderblue;
  border:2px solid  powderblue;
  border-collapse: collapse;
  border-radius: 5px;
  width: 90%;
  height: 55vh;
  align-content: center;
  margin-top: 20px;
  margin-left:auto; 
  margin-right:auto;
  padding: 20px;
}

.advert-row td {
  padding: 7px;
  text-decoration: none;
}

.advert-row:hover {
  background-color: rgb(164, 216, 235);
  border-radius: 5px;
  color: #2aacc9;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(33, 33, 33, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
  padding: 35px;
  max-width: 650px;
  background-color: lightgrey;
}

.popup-inner .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;

}

/* Create and update adverts */
.ad-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.ad-form label {
  text-align: left;
  display: block;
}

.ad-form input, .ad-form textarea, .ad-form select {
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid darkblue;
  box-sizing: border-box;
  display: block;
}

.ad-form button {
  background: powderblue;
  color: black;
  border: 0;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

